@font-face {
  font-family: 'Spotify-Bold';
  src: url('fonts/Gotham-Black.otf') format('opentype');
}

@font-face {
  font-family: 'Spotify';
  src: url('fonts/Gotham-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Spotify-Italic';
  src: url('fonts/GothamBoldItalic.ttf') format('truetype');
}

html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
}
